{% extends 'base.html.twig' %}

{% block title %}Page administration{% endblock %}

{% block body %}
	{% include "_partials/_headerAdmin.html.twig" %}
	<main class="mainAdmin">
		<section class="row mr-0 ml-0" style="background-color:#343A40;">
			{% include "_partials/_sidebar.html.twig" %}

			<div class="col-md-10" id="dashboard">
				<div class="row mr-0 ml-0">
					<div class="col-md-12">
						<h2>Utilisateurs</h2>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>Prénom</th>
										<th>Nom</th>
										<th>Email</th>
										<th>Rôle</th>
									</tr>
								</thead>
								<tbody>
									{% for user in users %}
										<tr>
											<td>{{ user.firstName }}</td>
											<td>{{ user.lastName }}</td>
											<td>{{ user.email }}</td>
											<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<div class="row mr-0 ml-0">
					<div class="col-md-6">
						<h2>Catégories</h2>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>Nom de la catégorie</th>
									</tr>
								</thead>
								<tbody>
									{% for category in categories %}
										<tr>
											<td>{{ category.nameCategory }}</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					<div class="col-md-6">
						<h2>Contacts</h2>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>Email</th>
										<th>Message</th>
									</tr>
								</thead>
								<tbody>
									{% for contact in contacts %}
										<tr>
											<td>{{ contact.emailContact }}</td>
											<td>{{ contact.messageContact }}</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<div class="row mr-0 ml-0">
					<div class="col-md-12">
						<h2>Articles</h2>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>Catégorie</th>
										<th>Illustration</th>
										<th>Titre</th>
										<th>Texte</th>
										<th>Auteur</th>
										<th>Date</th>
									</tr>
								</thead>
								<tbody>
									{% for article in articles %}
										<tr>
											<td>{{ article.category.nameCategory }}</td>
											<td><img src="{{ asset('uploads/images/' ~ article.picture) }}" alt="illustration article"></td>
											<td>{{ article.title }}</td>
											<td>{{ article.text }}</td>
											<td>{{ article.user.firstName ~ ' ' ~ article.user.lastName }}</td>
											<td>{{ article.createdAt ? article.createdAt|date('Y-m-d') : '' }}</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
