{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<main class="mainIndex">
    <h2>Contact</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>Message</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.contactName }}</td>
                <td>{{ contact.contactEmail }}</td>
                <td>{{ contact.contactMessage }}</td>
                <td>
                    {{ include('contacts/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Donnée vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="buttons">
        <a href="{{ path('admin') }}" class="btn">Retour</a>
    </div>
</main>
{% endblock %}